<!doctype html>
{% load static%}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Great Brains Voting </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/terms_and_conditions.css' %}">

</head>

<body>

    {% include 'navbar.html' %}
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="https://placehold.jp/1800x400.png" alt="">
            </div>
        </div>
    </div>

    <section>
        <div class="terms">
            <h1 class="text-center">Terms & Conditions</h1>
            <div class="title">
                <h3>Acceptance of Terms:</h3>
                <p>
                    By using the Great Brains electronic voting and ticketing platform ("the Platform"), you agree to
                    be bound by these Terms and Conditions. If you do not agree to these terms, you should refrain
                    from using the Platform.
                </p>
            </div>

            <div class="title">
                <h3>Service Description:</h3>
                <p>
                    Great Brains provides an electronic voting and ticketing platform that allows users to vote and
                    purchase tickets for events. The Platform aims to enhance the convenience and confidentiality
                    of the voting and ticketing process, breaking geographical boundaries.
                </p>
            </div>

            <div class="title">
                <h3>User Eligibility:</h3>
                <p>
                    You must be at least 18 years old or have the legal capacity to enter into a contract in your
                    jurisdiction to use the
                    Platform. By using the Platform, you represent and warrant that you meet these eligibility
                    requirements.

                </p>
            </div>

            <div class="title">
                <h3>Voting and Ticketing Process:</h3>

                <p>
                    <b>a. Confidentiality:</b>
                    Great Brains endeavors to maintain the confidentiality and security of your voting and ticketing
                    information. However, while we implement reasonable measures to protect your data, we cannot
                    guarantee absolute
                    security.

                </p>
                <p>
                    <b>b. Accuracy:</b>
                    Users are responsible for ensuring the accuracy of their votes and ticket purchases. Great Brains will
                    not be
                    held liable for any errors or inaccuracies in the voting or ticketing process.

                </p>

            </div>
            <div class="title">
                <h3>Fees and Revenue Sharing:</h3>
                <p>
                    <b>a. Ticket Purchase Fees:</b>
                    Users may be charged a fee for purchasing tickets through the Platform. The fee amount will be
                    clearly displayed before the transaction is finalized.
                    <br>
                    <b>b. Revenue Sharing:</b>
                    Great Brains will take a 20% share of the profits generated from ticket sales at the end of the event.
                    The profit calculation will be based on the total revenue generated from ticket sales minus any
                    applicable taxes, transaction fees, and refunds.
                </p>
            </div>

            <div class="title">
                <h3>User Responsibilities:</h3>
                <p>
                    <b>a. Accurate Information:</b> Users must provide accurate and complete information during the
                    registration, voting, and
                    ticket purchase processes.
                    <br>
                    <b>b. Prohibited Activities:</b> Users must not engage in any unlawful, fraudulent, or unauthorized
                    activities while using the
                    Platform. This includes but is not limited to hacking, tampering, or interfering with the Platform's
                    operations or other
                    users' activities.
                    <br>
                    <b>c. Compliance with Laws:</b> Users must comply with all applicable laws, regulations, and legal
                    obligations while using the
                    Platform.
                </p>
            </div>

            <div class="title">
                <h3>Intellectual Property:</h3>
                <p>
                    <b>a. Great Brains Ownership:</b> The Platform and all associated intellectual property rights belong
                    to
                    Great Brains. Users are
                    granted a limited, non-exclusive, non-transferable license to use the Platform for personal and
                    non-commercial purposes.
                    <br>
                    <b>b. User Content:</b> By using the Platform, you grant Great Brains a worldwide, royalty-free,
                    perpetual,
                    and irrevocable
                    license to use, modify, reproduce, display, and distribute any content you provide through the
                    Platform
                    for the purpose
                    of operating and improving the Platform.
                </p>
            </div>

            <div class="title">
                <h3>Limitation of Liability:</h3>
                <p>
                    Great Brains will not be liable for any direct, indirect, incidental, consequential, or special damages
                    arising out of or
                    in connection with the use of the Platform or these Terms and Conditions. In jurisdictions where
                    such limitations are
                    not allowed, Great Brains' liability shall be limited to the maximum extent permitted by law.
                </p>
            </div>

            <div class="title">
                <h3>Modification of Terms:</h3>
                <p>
                    Great Brains reserves the right to modify these Terms and Conditions at any time. The modified terms
                    will be effective
                    immediately upon posting on the Platform. It is your responsibility to review the Terms and
                    Conditions periodically for
                    any changes.
                </p>
            </div>
            <div class="title">
                <h3>Termination:</h3>
                <p>
                    Great Brains may, at its discretion, suspend or terminate your access to the Platform at any time for
                    violation of these
                    Terms and Conditions or any applicable laws. Upon termination, your rights to use the Platform will
                    cease immediately.
                </p>
            </div>
            <div class="title">
                <h3>Governing Law and Jurisdiction:
                </h3>
                <p>
                    These Terms and Conditions shall be governed by and construed in accordance with the laws of
                    [Jurisdiction]. Any
                    disputes arising out of or in connection with these Terms and Conditions shall be subject to the
                    exclusive jurisdiction
                    of the courts in [Jurisdiction].
                </p>
            </div>

        </div>
    </section>

    {% include 'footer.html' %}
    <script>
        document.getElementById("myForm").addEventListener("submit", function (event) {
            // Prevent the default form submission behavior
            event.preventDefault();

            // Perform additional actions or validations if needed

            // Show the success message
            alert("Your form is filled successfully. Proceed to make a payment.");

            // Submit the form
            this.submit();
        });
    </script>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper", {
            spaceBetween: 30,
            centeredSlides: true,
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>