.contact_card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 5%;
    margin-block: 50px;
}

.contact_items {
    width: 95%;
    padding-block: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    background-color: #fff;
    text-align: center;
}
.contact_items h1{
color: #4ab0cc;}

.contact_form {
    width: 70%;
    margin: 0 15%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    background-color: #fff;
    margin-bottom: 50px;
    padding: 30px;
    padding-block: 50px;
}

.contact_form input {
    width: 100%;
    height: 45px;
    margin-bottom: 25px;
}

.contact_form textarea {
    width: 100%;
    margin-bottom: 25px;
}

.contact_form button {
    width: 100%;
    height: 55px;
    border: none;
    background-color: #4ab0cc;
    color: #fff;
}

