.forms{
    width: 70%;
    margin: 0 15%;
    padding:  5%;
    margin-block: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.forms input{
    width: 100%;
    height: 45px;
    margin-bottom: 30px;
}

.forms select {
    width: 100%;
    height: 45px;
    margin-bottom: 30px;
    background-color: #fff;
}

.forms textarea{
    width: 100%;
    margin-bottom: 30px;
}

.forms button{
    width: 100%;
    padding: 15px;
    border: none;
    background-color: #029e7f;
    border-radius: 5px;
    color: #fff;
}